<%- include("header.ejs") %>

<section class="header dashboard-section mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 dashboard-text1"><%- include("left.ejs") %></div>
      <div class="col-9 dashboard-text2">
        <h1 class="text-center">welcome to <span>dashboard</span></h1>
      </div>
    </div>
  </div>
</section>
<%- include("footer.ejs") %>
