<ul class="list-unstyled">
    <li class="text-center pb-4 display-6 "><a class=" text-decoration-none fw-bold" href="/addproduct">Add product</a></li>
    <li class="text-center pb-4 display-6 "><a class=" text-decoration-none fw-bold" href="/viewproduct">view product</a></li>
    <li class="text-center pb-4 display-6 "><a class=" text-decoration-none fw-bold" href="/viewregistration">view registration</a></li>
    <li class="text-center pb-4 display-6 "><a class=" text-decoration-none fw-bold" href="/viewcontact">view contact</a></li>
</ul>