<%- include("./common/header.ejs") %>
<section class="about-section mt-5">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 text-center pb-5">
        <h2 class="section-title">About us</h2>
        <p class="section-subtitle">
          "At Farm Fresh, we're dedicated to bringing you the freshest, tastiest
          fruits and vegetables straight from the farm to your table. Taste the
          difference with produce that's as close to nature as possible."
        </p>
      </div>
    </div>
    <div class="row align-items-center py-5">
      <div class="col-lg-6 col-12 mb-4">
        <img src="./images/about/about-img.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 col-12 mb-4">
        <div class="about-content">
          <div class="about-details">
            <p>
              At Farm Fresh, we believe that the key to a healthy and vibrant
              life starts with what you put on your plate. As a dedicated
              vegetable and fruit selling company, we take pride in delivering
              nature's freshest produce directly to your doorstep. Founded with
              a passion for sustainable farming practices and a commitment to
              quality, Farm Fresh sources its produce from local farms known for
              their dedication to organic cultivation. Our goal is simple yet
              profound: to connect consumers with the goodness of farm-fresh
              fruits and vegetables while supporting local growers.
            </p>

            <p>
              What sets Farm Fresh apart is our rigorous selection process. We
              carefully handpick each item, ensuring that only the finest,
              ripest, and most flavorful produce makes it into our baskets. From
              juicy heirloom tomatoes to crisp apples and leafy greens bursting
              with nutrients, every item is chosen with utmost care and
              attention to detail. Our commitment to sustainability extends
              beyond just the quality of our produce. We prioritize eco-friendly
              packaging and transportation methods to minimize our environmental
              footprint. By choosing Farm Fresh, you're not only nourishing
              yourself with wholesome foods but also contributing to a healthier
              planet.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center py-5">
      <div class="col-lg-6 col-12 mb-4">
        <div class="about-content">
          <div class="about-details">
            <p>
              Convenience is another cornerstone of our service. With a
              user-friendly online platform, ordering from Farm Fresh is as easy
              as a few clicks. Whether you're a busy professional, a
              health-conscious family, or an adventurous home chef, we make it
              effortless to incorporate farm-fresh goodness into your daily
              life. But Farm Fresh is more than just a company; it's a
              community. We value transparency and strive to foster trust with
              our customers. From farm to table, we ensure that our produce
              meets the highest standards of freshness and flavor. Join us at
              Farm Fresh and experience the difference of produce that's not
              only good for you but tastes incredible too. Discover the joy of
              eating well with vegetables and fruits that are as close to nature
              as possible. Because when it comes to your health and happiness,
              nothing beats the freshness of Farm Fresh.
            </p>

            <p>
              We have always aimed at delivering best in class quality nutrition
              to support your intense workout and performance goals. All our
              products are manufactured in a state of art manufacturing facility
              powered by world class german equipments. Celebrities like -
              Ranveer Singh , Amir Riaz, Dino Morya were associated with us. In
              the pursuit of excellence, We proudly associates itself with a
              roster of elite athletes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 mb-4">
        <img src="./images/about/about-img.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<%- include("./common/footer.ejs") %>
