<section class="footer-wrapper md-3">
    <div class="container px-5 px-lg-0">
      <div class="row">
        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <h5>farm fresh</h5>
          <p class="mb-4 ps-0 company_details">
            farm fresh is a leading brand in India's fitness
            industry, dedicated to providing a wide range of nutritional
            supplements tailored for bodybuilders, athletes, and fitness
            enthusiasts.
          </p>
          <div class="contact-info">
            <ul class="list-unstyled">
              <li>
                <a href="#"
                  ><i class="fa fa-home me-3"></i>No. 96, South City,
                  London</a
                >
              </li>
              <li>
                <a href="#"><i class="fa fa-phone me-3"></i>+1222 333333</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-envelope me-3"></i
                  >Divyam@farmfresh.com</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <h5>Coustmer support</h5>
          <ul class="list-unstyled link-widget">
            <li><a href="#">About us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Product Returns</a></li>
            <li><a href="#">Wholesale Policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <h5>Quick Links</h5>
          <ul class="list-unstyled link-widget">
            <li><a href="#">About us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Product Returns</a></li>
            <li><a href="#">Wholesale Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <h5>Newsletter</h5>
          <div class="form-group mb-4">
            <input
              type="email"
              placeholder="Enter Your Email Here"
              class="form-control bg-transparent"
            />
            <button type="submit" class="btn btn-primary mt-5 px-5 py-3 w-100" style="background-color: rgb(36, 224, 30); border: none; border-radius: 25px; font-size: 16px; ">Subscribe</button>
          </div>
          <h5>stay connected</h5>
          <ul class="social-network d-flex align-items-center p-0">
            <li>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
     </div>

      <div class="container-fluid copyright-section">
        
          <p>Copyright <a href="#">CODEWITHDIVYAM</a> All Rights Reserved</p>
        
      
    </div>
  </section>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <script src="assets/main.js"></script>