<link rel="icon" type="image/x-icon" href="../images/favicon/android-chrome-512x512.png" />
<link rel="stylesheet" href="css/lightbox.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/responsive-box.css" />
<link rel="stylesheet" href="../css/product.css">
<link rel="stylesheet" href="../css/contact.css">
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>

<header class="full-nav">
  <div class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
          <img src="../images/_58a1f69c-e0c2-467f-a6ab-6b02083cdb5d.jpeg" alt="logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars-staggered"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          <div class="header_right">
            <div class="text-lg-end d-flex ">
             <span><a href="/login" class="btn main-btn px-5 mb-4 fw-bold">Log in</a></span>
             <span><a href="/register" class="btn main-btn px-5 mb-4 fw-bold">sign  in</a></span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
