<%- include("../common/header.ejs") %>
<section style="background-image: url(../images/banner-slide/Banner-1.jpg); background-size: cover; height: 100vh;">
<div class="container-fluid "  style=" transform: translateY(60px);">
    <div class="row justify-content-center "  >
      <div class="col-md-4">
        <div class="card" >
          <div class="card-body ">
            <h1 class="card-title text-center mb-4 pb-4 fw-bold text-uppercase display-4" style="width: 100%; border-bottom: 5px solid rgb(16, 222, 16); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Register</h1>
            <form method="post" action="/signup" style="font-size: 20px; padding: 10px;" >
              <div class="row" >
                <div class="col-md-6 col-12 mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" style="height: 50px; font-size: 20px; border-radius: 25px;" id="username" name="username" required>
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" style="height: 50px; font-size: 20px; border-radius: 25px;" id="email" name="email" required>
                </div>
              </div>
              <div class="mb-3 col-md-12 col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" style="height: 50px; font-size: 20px; border-radius: 25px;" id="password" name="password" required>
              </div>
              <div class="mb-3 col-md-12 col-12">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" style="height: 50px; font-size: 20px; border-radius: 25px;" id="confirmPassword" name="confirmPassword" required>
              </div>
              <div class="mb-3 col-md-12 col-12">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" style="height: 50px; font-size: 20px; border-radius: 25px;" id="address" name="address" rows="3"></textarea>
              </div>
              <div class="row">
               
                <div class="col-md-12 mb-3  col-12">
                  <label for="phone" class="form-label">Phone Number</label>
                  <input type="tel" class="form-control" style="height: 50px; font-size: 20px; border-radius: 25px;" id="phone" name="phone">
                </div>
              </div>
              <div class="form-check mb-3 col-md-12 col-12">
                <input class="form-check-input" type="checkbox" value="" id="terms" required>
                <label class="form-check-label" for="terms">
                  Agree to terms and conditions
                </label>
              </div>
              <div class="d-grid gap-2 col-md-12 col-12">
                <button type="submit" class="btn btn-primary mt-5 p-3" style="font-size: 20px; background-color: rgb(37, 242, 37); border: none;">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>